/* Flex-containers */
@use '../variables';

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-50 {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.flex-column-30 {
    display: flex;
    flex-direction: column;
    flex: 30%;
}

.flex-column-70 {
    display: flex;
    flex-direction: column;
    flex: 70%;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
}

.flex-container-row {
    display: flex;
    // align-items: baseline;
    justify-content: baseline;
}

.flex-row-game {
    display: flex;
    flex-wrap: wrap;
    // align-content: space-between;
    min-height: 30em;
    div {
        margin-top: 1em;
    }
}

.flex-row-game-smaller {
    display: flex;
    flex-wrap: wrap;
    // align-content: space-between;
    min-height: 10em;
    div {
        margin-top: 1em;
    }
}

// .flex-container-objects {
//     display: flex;
//     flex-wrap: wrap;
// }

.flex-container-column-hidden {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    
    li {
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
    }
}

.article {
    // border-left: 0.05em solid #ccc;
    // border-right: 0.05em solid #ccc;
    /* border-top: 0.05em solid #b54699; */
    // border-bottom: 0.05em solid #671655;
    padding-left: 0.1em;
    padding-right: 0.1em;
    display: flex;
    flex-flow: column wrap;
    margin-top: 0.1em;
    padding-bottom: 0.1em;
    // text-align: left;
    flex: 50%;
}

figcaption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 0.25em;
    text-align: center;
}

.flex-row-casino {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
    h1 {
        font-size: 3em;
        margin: 2em 1em 2em 1em;
        text-align: center;
    }

    span {
        padding: 1em;
    }
}
