@charset "UTF-8";
/* Typografy */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Oswald&display=swap");
/**
 * Initiate the CSS base and reset/normalize some items.
 */
/**
 * Apply a natural box layout model to all elements, but allowing components
 * to change.
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * Parts from
 * https://github.com/necolas/normalize.css/blob/master/normalize.css
 */
html {
  box-sizing: border-box;
  line-height: 1.15;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-y: scroll; /* Always display scrollbar, avoid hopping pages */
}

blockquote {
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.5em solid #f5f5f5;
}

code {
  margin: 0 0.1em;
  padding: 0.1em 0.2em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background: #f5f5f5;
  font-family: monospace;
  font-size: 0.85rem;
  line-height: 1.9824;
}

pre {
  padding: 0 1em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background: #f5f5f5;
}

pre code {
  display: block;
  margin: 0;
  padding: 1.1111em 0;
  border: 0 none;
  background: transparent;
  overflow-x: auto;
  line-height: 1.4;
}

/* Header */
.header, .site-header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(255, 255, 240), rgb(255, 255, 224));
}

/*
 * Modify and position the title.
 */
.header .title {
  /* color: var(--dark-color); */
  font-size: 1.5em;
  text-shadow: 0.1em 0.1em 0.1em var(rgb(255, 255, 224));
  margin: 2em 1em 2em 1em;
  text-align: center;
}

/** navbar.scss */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(255, 255, 240);
}
.navbar ul {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  list-style-type: none;
  padding: 10px;
  margin: 0 10px;
}
.navbar a {
  font-weight: bold;
  padding: 0.2em 0.3em;
  text-decoration: none;
}
.navbar a:hover {
  background-color: rgb(255, 255, 200);
  text-decoration: underline;
  width: min-content;
}
.navbar .active {
  background-color: rgb(255, 255, 200);
  width: min-content;
}

/* Flex-containers */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-50 {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-between; */
}

.flex-container-row {
  display: flex;
  justify-content: baseline;
}

.flex-row-game {
  display: flex;
  flex-wrap: wrap;
  min-height: 30em;
}
.flex-row-game div {
  margin-top: 1em;
}

.flex-row-game-smaller {
  display: flex;
  flex-wrap: wrap;
  min-height: 10em;
}
.flex-row-game-smaller div {
  margin-top: 1em;
}

.flex-container-column-hidden {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.flex-container-column-hidden li {
  margin-bottom: 0.5rem;
}
.flex-container-column-hidden a {
  text-decoration: none;
}

.article {
  /* border-top: 0.05em solid #b54699; */
  padding-left: 0.1em;
  padding-right: 0.1em;
  display: flex;
  flex-flow: column wrap;
  margin-top: 0.1em;
  padding-bottom: 0.1em;
  flex: 50%;
}

figcaption {
  caption-side: bottom;
  font-style: italic;
  padding-top: 0.25em;
  text-align: center;
}

.flex-row-casino {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-row-casino h1 {
  font-size: 3em;
  margin: 2em 1em 2em 1em;
  text-align: center;
}
.flex-row-casino span {
  padding: 1em;
}

/* Placement and color */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(255, 255, 224);
}

.main {
  flex: 1 0 auto;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 40em;
}

.header, .footer {
  flex: 0 0 auto;
}

/** main.css */
* {
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: "Oswald", sans-serif;
}

p, td, th, li, dd {
  padding: 1em;
  letter-spacing: 0.5px;
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

li {
  padding: 0.5em;
}

/** two_column_layout.css */
.two-col-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-col-layout > .main {
  width: 75%; /* 12/16 width */
}

.two-col-layout > .aside {
  width: 25%; /* 4/16 width */
}

.aside {
  font-size: 1.5em;
  border-right: 1px solid #333;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 24px;
}

.aside li {
  line-height: 3;
}
.aside li a {
  text-decoration: none;
}

/* Figures and images */
img {
  max-width: 100%;
  padding: 1em;
}

ol, ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

.margin-top {
  margin-top: 1.5em;
}

.img-center {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.casino {
  background: url("../images/lucky-number.png");
  background-size: cover;
}

/* Buttons */
.button1 {
  /* Algolia */
  outline: 0;
  /* display: inline-block; */
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468ff 100%);
  box-shadow: 0px 2px 4px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px rgba(58, 65, 111, 0.5);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
  margin: 0.5rem;
  margin-top: 1rem;
}

.button1:hover {
  box-shadow: 0px 4px 8px rgba(45, 35, 66, 0.4), 0px 7px 13px -3px rgba(45, 35, 66, 0.3), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

.button1:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Footer */
/** footer.css */
/*
 * Set colors and size.
 */
.footer {
  background: linear-gradient(to bottom, rgb(255, 255, 224), rgb(255, 255, 185));
  padding: 0 0.5em;
  margin-top: 2rem;
}
.footer a {
  text-decoration: none;
}
.footer p {
  text-decoration: underline;
}
.footer a:hover {
  background-color: rgb(255, 255, 240);
  text-decoration: none;
}

/*
 * Style the content.
 */
.box {
  border-bottom: 2px solid rgb(255, 255, 185);
}

.final {
  text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.footer .row > .col3 {
  width: 33.3333333333%;
}

.footer .row > .col1 {
  width: 100%;
}

/* technology.scss */
.landingpage {
  min-height: 700px;
  display: grid;
  grid: auto-flow/repeat(3, 1fr);
  gap: 1em 1em;
}
.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
  font-size: 8vw;
  letter-spacing: 0.5vw;
  margin-bottom: 3vw;
}
.landingpage .box.wide {
  grid-column: span 2;
}
.landingpage .box.ultra.wide {
  grid-column: span 3;
}

.landingpage .box {
  grid-column: span 1;
  grid-row: span 1;
  border: 0.075rem solid #111;
  padding: 0.6rem;
  margin: 0.6rem;
  box-shadow: rgb(255, 255, 200) 8px 24px;
}
.landingpage .box a {
  font-size: 2rem;
  text-decoration: none;
}
.landingpage .box hr {
  border-bottom: 1px solid #666;
}

.previous {
  display: inline-block;
  background-color: rgb(255, 255, 200);
  color: #555;
  padding: 0.5rem 1rem;
  text-decoration: none;
  max-width: min-content;
}

.previous:hover {
  background-color: rgb(255, 255, 240);
  color: #111;
}

/* Cardgame */
.card {
  font-size: 500%;
  /* border-radius: 0.1em; */
  padding: 0.05em;
}

.red {
  color: red;
}

.black {
  color: black;
}

/* JSON-routes */
.smaller {
  font-size: 0.5em;
  font-style: italic;
}

/* Flash messages */
.flash-notice {
  padding: 0.5em;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.flash-notice:before {
  content: "ⓘ";
}

.flash-warning {
  padding: 0.5em;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.flash-warning:before {
  content: "⚠";
}

.flash-success {
  padding: 0.5em;
  color: #2d8106;
  background-color: #28f328;
  border-color: #00ff15;
}

.flash-success:before {
  content: "ⓘ";
}

/* technology.scss small screens*/
@media (max-width: 767px) {
  .landingpage {
    grid: auto-flow/minmax(10px, 1fr);
  }
  .landingpage h1 {
    grid-column: span 1;
  }
  .landingpage .box.wide {
    grid-column: span 1;
  }
  .landingpage .box.ultra.wide {
    grid-column: span 1;
  }
  .landingpage .box a {
    font-size: 1rem;
  }
  .flex-container-column-hidden {
    display: none;
  }
}
@media (max-width: 900px) {
  .title, .logo {
    padding: 1em 1em 1em 0 !important;
  }
  .title {
    min-width: 50% !important;
  }
  .logo {
    max-width: 30% !important;
  }
  .main {
    width: 95%;
  }
  .main p, .main li, .main dd {
    letter-spacing: 0.25px;
    text-align: left;
  }
}
@media (max-width: 700px) {
  .two-col-layout {
    flex-wrap: wrap;
  }
  .two-col-layout > .main,
  .two-col-layout > .aside {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .footer .row {
    flex-wrap: wrap;
  }
  .footer .row > .col3 {
    width: 100%;
  }
}
/* Makes a one column layout instead of a two-column layout */
@media (max-width: 700px) {
  .article, .flex-column-50 {
    flex: 100%;
  }
  .flex-container-row {
    flex-wrap: wrap;
  }
}
/* Responsive navbar and header */
@media (max-width: 700px) {
  .navbar ul {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navbar li {
    display: flex;
    justify-content: center;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .header .logo {
    width: 150px;
    height: 150px;
    margin: 0.5em 0em 0.5em 0.5em;
  }
  .navbar {
    flex-direction: column;
  }
}
html {
  font-size: 100%;
}

p {
  font-size: 1em;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
