/** style.css. root style-sheet. */

/**
 * Initiate the CSS base and reset/normalize some items.
 */

/**
 * Apply a natural box layout model to all elements, but allowing components
 * to change.
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * Parts from
 * https://github.com/necolas/normalize.css/blob/master/normalize.css
 */
 html {
    box-sizing: border-box;
    line-height: 1.15;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  margin: 0;
  overflow-y: scroll;    /* Always display scrollbar, avoid hopping pages */
  border: 4px solid #eeeef1;
  background-color: whitesmoke
}

/** navbar.css */

/*
 * Add colors and borders.
 */
 .navbar {
    background-color: MintCream;
    border-top: 4px solid #ffaa00;
    text-align: left;
    font-size: 1.2em;
    overflow: auto;
}

/*
 * Remove bullets, margins and padding from the list. Create flex-box for responsive navbar.
 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*
 * Style links.
 */
.navbar a {
    /* align-items: flex-start; */
    padding: 0.2em 0.3em;
    color: #3b5b3c;
    text-decoration: none;
}

.navbar a:hover {
    color: #EEE;
    background-color: light rgba(212, 200, 200, 0.765);
    text-decoration: underline;
}


/*
 * Put the li items on a line.
 */
.navbar li {
    /* display: inline; */
    margin-left: 5%;
}

/* .navbar li:first-child {
    margin-left: 10%;
} */

/** header.css */

/*
 * Prepare variables.
 */
 :root {
    --light-color: rgb(14, 250, 36);
    --medium-color: rgb(14, 220, 36);
    --dark-color: rgb(14, 185, 36);
}

/*
 * Set colors, size and prepare flex-box.
 */
.header {
    background-color: var(--light-color);
    border-bottom: 4px solid var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    background: url('../images/background.jpg');
    background-size: cover;
}

/*
 * Position and size the logo.
 */
/* .header .logo {
    width: 150px;
    height: 150px;
    margin: 1em 0em 1em 1em;
} */

/*
 * Modify and position the title.
 */
.header .title {
    /* color: var(--dark-color); */
    font-size: 1.5em;
    text-shadow: 0.1em 0.1em 0.1em var(--medium-color);
    margin: 2em 1em 2em 1em;
    text-align: center;
}

/*
 * Modify and position the subtitle.
 */
.header .subtitle {
    color: var(--dark-color);
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 3em;
}

/** footer.css */

/*
 * Set colors and size.
 */
 .footer {
    background: linear-gradient(to bottom, #91e8ee, #040256);
    color: #FFF;
    padding: 0 0.5em;
}

.footer hr {
    color: #FFF;
}

/*
 * Style the links.
 */
.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    color: lime;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box {
    border-bottom: 2px solid #fff;
}

.final {
    text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}

/** main.css */

.main {
    background-color: ghostwhite;
    color: #333;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    padding: 0.5em;
    min-height: 40em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.previous {
    display:inline-block;
    background-color: lightblue;
    color:#555555;
    padding: 0.5em 1em;
    text-decoration: none;
    max-width: min-content;
}

.previous:hover {
    background-color: #ddd;
    color: black;
}

.welcome {
    color: lightskyblue;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

/** flex_containers.css */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* align-content: space-between; */
}

.flex-container-objects {
    display: flex;
    flex-wrap: wrap;
}

.article {
    border-left: 0.05em solid #ccc;
    border-right: 0.05em solid #ccc;
    /* border-top: 0.05em solid #b54699; */
    border-bottom: 0.05em solid #671655;
    padding-left: 0.1em;
    padding-right: 0.1em;
    display: flex;
    flex-flow: column wrap;
    margin-top: 0.1em;
    color: #666;
    padding-bottom: 0.1em;
    text-align: left;
    flex: 50%;
}

h1, .article h2 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    /* border-bottom: 0.25em double #ccc; */
    color: var(--dark-color);
    text-shadow: 0.1em 0.1em 0.1em var(--medium-color);
}

.article h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2em;
    border-bottom: 4px double #ccc;
}

.article .author {
    /* margin-top: 1em; */
    /* font-size: 1em; */
    color: #666;
    font-style: italic;
    /* padding-bottom: 2em; */
    text-align: left;
}

.flex-container-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-images {
    flex: 50%;
    max-width: 40%;
    margin-top: 5em;
}

.flex-container figcaption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 0.25em;
    text-align: center;
}

/** byline.css */

.byline{
    border: 1px solid #ccc;
    background-color: rgb(192, 228, 255);
    overflow: auto;
    clear: both;
    text-align: left;
    position: relative;
}

/** two_column_layout.css */

.two-col-layout {
    font-family: Verdana, sans-serif; margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:900px;
    margin: 0 auto;
}

.two-col-layout > .main {
    width: calc(100% / 16 * 12); /* 12/16 width */
}

.two-col-layout > .aside {
    width: calc(100% / 16 * 4); /* 4/16 width */
}

.aside {
    /* font-size: 1.5em; */
    background-color: #fff;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 24px;
    
}

.aside li {
    line-height:3;
}

/* .aside h4 {
    border-bottom: 1px solid #ccc;
} */



/** responsive.css */

/* Calculate responsive font size */
body {
    font-size: calc(15px + 0.390625vw)
}

.casino {
    background: url('../images/lucky-number.png');
    background-size: cover;
}

img {
    max-width: 100%;
    display: block;
}

@media (min-width: 700px) or (orientation: landscape) {
    .flex-container-objects img {
        max-width: 60%;
        margin-left: 20%;
    }

    .article h2 {
        font-size: 2em;
    }
}

@media (min-width: 1500px) {
    .main {
        max-width: 1200px;;
    }
}

@media (max-width: 700px) {
    .two-col-layout {
        flex-wrap: wrap;
    }

    .two-col-layout > .main,
    .two-col-layout > .aside {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .footer .row {
        flex-wrap: wrap;
    }

    .footer .row > .col3 {
        width: 100%;
    }
}

/* Makes a one column layout instead of a two-column layout */
@media (max-width: 700px) {
    .article {
      flex: 100%;
    }
}
@media (max-width: 700px) {
    .flex-images {
      flex: 100%;
      max-width: fit-content;
    }
}

/* Responsive navbar and header */
@media (max-width: 700px) {
    .navbar ul {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .navbar li {
        display: flex;
        justify-content: center;
    }

    .header {
        display: flex;
        justify-content: center;
    }
    .header .logo {
        width: 150px;
        height: 150px;
        margin: 0.5em 0em 0.5em 0.5em;
    }

    .header .title {
        color: var(--dark-color);
        font-size: 1.2em;
        text-shadow: 0.1em 0.1em 0.1em var(--medium-color);
        margin: 0.5em 0.25em 0.5em 0.25em;
    }

    .header .subtitle {
        color: var(--dark-color);
        font-size: 1.2em;
        margin-top: 0.3em;
        margin-bottom: 1.2em;
        transform: rotate(-5deg);
    }
}

/* Flash messages */
.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-success {
    padding: 0.5em;
    color: #2d8106;
    background-color: #28f328;
    border-color: #00ff15;
}

.flash-success:before {
    content: "ⓘ";
}

/* Cardgame */
.card {
    font-size: 500%;
    /* border-radius: 0.1em; */
    padding: 0.05em;
}

.red {
    color: red;
}

.black {
    color: black;
}

/* JSON-routes */
.smaller {
    font-size: 0.5em;
    font-style: italic;
}