/** navbar.css */

/*
 * Add colors and borders.
 */
 .navbar {
    background-color: MintCream;
    border-top: 4px solid #ffaa00;
    text-align: left;
    font-size: 1.2em;
    overflow: auto;
}

/*
 * Remove bullets, margins and padding from the list. Create flex-box for responsive navbar.
 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*
 * Style links.
 */
.navbar a {
    /* align-items: flex-start; */
    padding: 0.2em 0.3em;
    color: #3b5b3c;
    text-decoration: none;
}

.navbar a:hover {
    color: #EEE;
    background-color: light rgba(212, 200, 200, 0.765);
    text-decoration: underline;
}


/*
 * Put the li items on a line.
 */
.navbar li {
    /* display: inline; */
    margin-left: 5%;
}

/* .navbar li:first-child {
    margin-left: 10%;
} */
