$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: rgb(255, 255, 224);
$background-alternative-color: #e0fbfc;
$background-color-light: rgb(255, 255, 240);
$background-color-dark: rgb(255, 255, 200);
$background-color-extra-dark: rgb(255, 255, 185);
