{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<main class="main"> 
        <h1>Om webbplatsen</h1>
        <div class="flex-container">
            <div class="article">
                <a href="{{ asset('img/model-view-controller-light-blue.png') }}">
                    <img src="{{ asset('img/model-view-controller-light-blue.png') }}" alt="Bild på MVC-model">
                    <figcaption>Model-View-Controller</figcaption>
                </a>
            
            </div>
            <div class="article">
                <p class="author">Denna webbplats har skapats som en del av kursen objektorienterade webbteknologier, mvc, på Blekinge Tekniska Högskola. Fokus i kursen ligger på objektorienterade programmeringstekniker i programmeringsspråket PHP.</p>
                <p class="author">Klassiska objektorienterade konstruktioner, databaser, enhetstester samt programmering i PHP ramverket Symphony är alla viktiga delar i denna djupdykning av MVC i kursen mvc!</p>        
                <p class="author">Se <a href="https://github.com/dbwebb-se/mvc/">kursens GitHub-repo</a> för bakomliggande kursmaterial till denna kurs. Mitt egna GitHub-repo för denna webbplats finner vi <a href="https://github.com/dbwebb-se/mvc/">här</a>.</p>
        </div></div>
</main>
{% endblock %}