{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
<main class="main">
        <div class= "flex-row-casino">
        <h1>
        <span style='color: red;'>L</span>
        <span style='color: yellow;'>u</span>
        <span style='color: green;'>c</span>
        <span style='color: black;'>k</span>
        <span style='color: purple;'>y</span>
        <span style='color: red;'>n</span>
        <span style='color: yellow;'>u</span>
        <span style='color: green;'>m</span>
        <span style='color: black;'>b</span>
        <span style='color: purple;'>e</span>
        <span style='color: red;'>r</span>
        <span style='color: yellow;'>:</span>
        </h1>
        <h1><span style='color: green;
            background-image: url({{ asset('img/lucky-number.png') }});
            background-size: contain;
            letter-spacing: 1em;'>
            {{ binaryNumber }}</span></h1></div>

    
</main>
{% endblock %}
