{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<main class="main"> 
    <div class="flex-container-row">
        {{ include('library/menu.html.twig') }}
        <div class="flex-column-70">
            <h1>Bibliotek startsida ✅</h1>
        </div>
</div>
</main>
{% endblock %}
